- name: Deploy FastAPI as a Swarm service
  community.docker.docker_service:
    project_name: fastapi-demo
    definition:
      version: "3.8"
      services:
        fastapi:
          image: "{{ dockerhub_user }}/fastapi-demo:latest"
          ports:
            - "80:80"
          deploy:
            replicas: 3
            restart_policy:
              condition: any
